<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="Waypoints: Trip Planner">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>src</directory>
			<file>plan-your-day.php</file>
			<file>uninstall.php</file>
		</include>
	</source>
</phpunit>
